    @media screen and (max-width: 1024px) {
      #tv-only-content {
        display: none;
      }
    }
           body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin-top: 100px;
            padding: 0;
        }
        
.header {
    background-color: #000;
    color: #fff;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 60;
    left: 0;
    top: 0;
    bottom: 0;
}

.nav-t-i {
    background-color: #515151;
    padding: 10px;
}

.nav-o {
    display: flex;
    flex-direction: column; 
    padding-top: 10px;
}

h3 {
    margin: 5px 0; 
    color: #ddd;
}
